body{
    background: linear-gradient(to right, rgb(27, 20, 107),rgb(21, 21, 68));
    font-family: Verdana, Tahoma, sans-serif;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    color: rgba(180, 216, 223, 0.911);
}
header{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    padding: 30px;
}
nav ul{
    text-align: right;
    padding: 10px 0;
}
nav li{
    display: inline-block;
    font-family: sans-serif;
    margin: 10px 0;

}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 5px;
    color: #aaa;
}
.titulo-principal{
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    }
.titulos-secundarios {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
main{
    box-sizing: border-box;
}
main ul{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
main li {
    display: inline-table;
    background: linear-gradient(to right, rgba(22, 89, 109, 0.932),rgba(2, 53, 66, 0.932));
    background-size: cover;
    text-align: center;
    vertical-align: top;
    border: 2px solid rgba(20, 22, 138, 0.329);
    border-radius: 30px;
    width: 20%;
    position: center;
    padding: 10px;
    margin: 20px 10px;
}
main li a:hover{
    border:1px solid #3118a300; zoom:105%;
}
main li:hover{
    border:2px solid #a57214b2;
}
main img {
    width: 100px;
    height: 100px;
    padding: 10px;
}
main h2 {
    font-weight: bold;
    padding: 10px;
}
main p {
    font-size: 16px;
    padding: 10px;
}
footer{
    text-align: center;
    font-size: 20px;
    padding: 40px 0;
    margin: 0 auto;
}