header{
    background-color: linear-gradient(rgba(222, 222, 222, 0.712), rgba(222, 222, 222, 0.801));
    color: #000;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    font-family: sans-serif;
    margin: 10px 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

body{
    background-image: linear-gradient(rgba(222, 222, 222, 0.788), rgba(222, 222, 222, 0.89)), url(img/1.jpg);
    background-position: center, center;
    background-color: rgba(231, 226, 226, 0.836);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    box-sizing: border-box;
}

.titulo-principal{
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
}

.titulos-secundarios {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 20x;
    padding: 2%;
}

.cursos {
    width: 940px;
    margin: 0 auto;
}

.cursos li {
    display: inline-block;
    background-image: url(https://image.freepik.com/vetores-gratis/banner-moderno-com-design-abstrato-de-baixo-poli_1048-14340.jpg);
    background-size: cover;
    text-align: center;
    vertical-align: top;
    border: 2px solid rgb(20, 22, 138);
    border-radius: 30px;
    width: 25%;
    padding: 50px 0;
    margin: 30px 20px;

}

.cursos img {
    width: 150px;
    height: 150px;
}

.cursos a {
    color: rgb(31, 23, 99);
    text-decoration: none;
}

.cursos h2 {
    font-weight: bold;
margin: 0 0 15px;
}

.cursos p {
    font-size: 16px;
}