header{
    background-color: linear-gradient(rgba(222, 222, 222, 0.712), rgba(222, 222, 222, 0.801));
    color: #000;
}

nav ul {
    position: relative;
    padding: 2%;
}

nav li {
    display: inline-block;
    font-family: sans-serif;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 10px;
}

body{
    background-image: linear-gradient(rgba(222, 222, 222, 0.788), rgba(222, 222, 222, 0.89)), url(1.jpg);
    background-position: center, center;
    background-color: rgba(231, 226, 226, 0.836);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

img{
border-radius: 30px;
padding: 10px;
display: inline;
}

.titulo-principal{
    font-family: arial;
    font-weight: bold;
    font-size: 26px;
    margin-left: 120px;
    border-radius: 20px;
    opacity: 90%;
    color: rgb(0, 0, 0);
}

.titulos-secundarios {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 24px;
}

.box{
    border-radius: 30px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    opacity: 90%;
    background-color: linear-gradient(rgba(222, 222, 222, 0.7), rgba(222, 222, 222, 0.7)), rgba(222, 222, 222, 0.7), 0.9;
    padding: 10px;
}

.cursos {
    width: 940px;
    margin: 0 auto;
}

.cursos li {
    display: inline-block;
    background-image: url(https://image.freepik.com/vetores-gratis/banner-moderno-com-design-abstrato-de-baixo-poli_1048-14340.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: top;
    border: 2px solid #000;
    border-radius: 30px;
    width: 25%;
    padding: 50px 0;
}

.cursos img {
    width: 150px;
    height: 150px;
}

.cursos a {
    color: rgb(31, 23, 99);
    text-decoration: none;
}

.cursos h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
}

.cursos p {
    font-size: 16px;
}