body{
    background-image: url(1.jpg);
    background-position: center, center;
    background-color: #d2d2c5 ;
    width: 100%;
    height: adjust;
    background-repeat: repeat-y;
    background-attachment: scroll;
    font-family: arial;
}

.box{
    width: 80%;
    height: 100%;
    border: 2px solid rgb(76, 76, 145);
    border-radius: 5%;
    margin: auto;
    opacity: 90%;
    font-family: arial;
    background-color: #ccc;
    font-family: arial;
}
.cursos{
    image-rendering: url(html css e js.jpg);
    font-family: arial;
}

.media-object{
    margin-left: 90px;
    margin-right: auto;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 35%;
    font-family: arial;
}

.titulo_principal{
    font-family: arial;
    margin-left: 15%;
    border-radius: 35%;
}

.titulo_centralizado {
    text-align: center;
    padding: 10px;
    font-family: arial;
}

p{
    font-size: 16px;
    text-align: justify;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: arial;
}

#destaque{
    font-size: 20px;
    padding: 10px;
    font-family: arial;
    display: inline-block;
}

em strong {
    color: rgb(32, 16, 75);
    font-family: arial;
}

.itens {
    font-style: italic;
    font-family: arial;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 500px;
    display: flex;
    flex-flow: row wrap;
    color: rgb(32, 16, 75);
    font-family: arial;
    font-size: 25px;
}
.container ul {
  list-style-type: none;
}

.container ul li {
  margin-top: 7px;
  padding-bottom: 3px;
  border-bottom: 1px solid #6f73aa;
}