header{
    background-color: linear-gradient(rgba(222, 222, 222, 0.315), rgba(222, 222, 222, 0.7));
    padding: 10px 70px;
    color: #000;
}

body{
    background-image: linear-gradient(rgba(222, 222, 222, 0.7), rgba(222, 222, 222, 0.7)), url(1.jpg);
    background-position: center, center;
    background-color: rgb(231, 226, 226);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: arial;
}

.box{
    border: 1px solid rgb(76, 76, 145);
    border-radius: 30px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    opacity: 90%;
    font-family: arial;
    background-color: linear-gradient(rgba(222, 222, 222, 0.7), rgba(222, 222, 222, 0.7)), rgba(222, 222, 222, 0.7), 0.9;
    font-family: arial;
}

.media-object{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-family: arial;
}

.titulo_principal{
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px;
    opacity: 90%;
    color: rgb(35, 35, 36);
}

.titulo_centralizado {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}

.foto {
    position: relative;
    top: 0;
    left: 0;
    opacity: 80%;
    border: 1px solid rgb(76, 76, 145);
    border-radius: 50%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 10px;
    max-width: 150px;
    max-height: 150px;
}
      
p{
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    font-family: arial;
    margin: 0 30px 10px 30px;
}

#destaque{
    font-size: 16px;
    line-height: 1.5;
    font-family: arial;
    display: inline-block;
    padding: 10px;
}

em strong {
    color: rgb(3, 0, 8);
    font-family: arial;
    font-weight: bold;
}

.curriculo {
    font-weight: bold;
}

.itens {
    font-weight: bold;
    font-family: arial;
}

.container {
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    color: rgb(30, 29, 31);
    font-family: arial;
    font-size: 18px;
    margin: 0, 0, 0, 15px;
}
.container ul {
    list-style-type: none;
}

.container ul li {
    border-bottom: 1px solid #343438;
    background-color: #c8cad88a;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}