body{
    background-image: url(1.jpg);
    background-position: center, center;
    background-color: #d2d2c5 ;
    width: 100%;
    height: adjust;
    background-repeat: repeat-y;
    background-attachment: scroll;
    font-family: arial;
}

.box{
    width: 80%;
    height: 100%;
    border: 1px solid rgb(76, 76, 145);
    border-radius: 5%;
    margin: auto;
    opacity: 80%;
    font-family: arial;
    background-color: rgb(231, 226, 226);
    font-family: arial;
}

.media-object{
    margin-left: 90px;
    margin-right: auto;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 15%;
    font-family: arial;
}

.titulo_principal{
    font-family: arial;
    margin-left: 15%;
    border-radius: 35%;
}

.titulo_centralizado {
    text-align: center;
    padding: 2%;
    font-family: arial;
}

p{
    font-size: 16px;
    text-align: justify;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: arial;
}

#destaque{
    font-size: 15px;
    padding: 2%;
    font-family: arial;
    display: inline-block;
}

em strong {
    color: rgb(32, 16, 75);
    font-family: arial;
}

.itens {
    font-style: italic;
    font-family: arial;
}

.container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: none;
    max-width: 50%;
    display: flex;
    flex-flow: row wrap;
    color: rgb(26, 22, 87);
    font-family: arial;
    font-size: 20px;
    background: rgb(189, 188, 188);
    border-radius: 20px;
}
.container ul {
  list-style-type: none;
}

.container ul li {
  border-bottom: 1px solid #14195a;
  margin-right: 25px;
}