* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(77, 26, 124);
}

p {
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    vertical-align: middle;
    color: aliceblue;
}